.container-textarea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: auto;
  height: fit-content;
  border-radius: 10px;
  align-items: center;
  transition: 0.8s ease-in-out;
}

.container-textarea input {
  border: none;
  width: 90%;
  height: 2rem;
  background-color: bisque;
  border-radius: 10px;
  margin-top: 0.3rem;
  padding: 0.2rem;
}
.container-textarea textarea {
  border: none;
  margin-top: 0.4rem;
  width: 90%;
  background-color: bisque;
  border-radius: 10px;
  padding: 0.2rem;
}
.Button {
  margin-top: 0.2rem;
}

@media screen and (max-width: 890px) {
  .container-textarea {
    width: 80%;
  }
}
